$text-color:#1E1E1E;
$link-hover-color: #bfbfbf;
$border-color: #b38f00;
$first-color: #AA81AA;
$first-color-transparent-50: rgb(170, 129, 170, 0.5);
$first-color-hover:#c1a4c1;
$background-color: #FFF9F3;
$fog-color: rgba(255,249,243,0.3);
$bg-fog-color: rgba(255,249,243,0.5);

$square-color-1:rgb(241, 238, 226, 0.5);
$square-color-2:rgb(243, 226, 243, 0.5);
$square-shade-color-1:rgb(220, 215, 196, 0.5);
$square-shade-color-2: rgb(203, 191, 203, 0.5);
$square-shade-color-3: rgb(20, 20, 20, 0.3);
$contact-form-shade: rgb(150, 150, 150, 0.2);

@font-face {
    font-family: SofiaFont;
    src: url("../fonts/Sofia-Regular.ttf");
  }

.logo{
    & > img {
        padding-right:15px;
        padding-left:15px;
        width: 128px;
        height: 64px;
    }
}

.l-calc{left: calc((100vw - 1440px)/2 - (((100vw - 1440px)/2) * 2) );}

body, html {
    font-size: 16px;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', sans-serif;
    background-color: $background-color;

}
body {
    overflow-x: hidden;
}

.font-sofia{
    font-family: SofiaFont;
}

.flex-wrap{flex-wrap: wrap;}
.flex{display: flex;}
.row {flex-direction: row;}
.col{flex-direction: column;}
.align-center{align-items: center;}
.justify-right{justify-content: flex-end;}
.justify-center{justify-content: center;}
.justify-between{justify-content: space-between;}
.relative {position: relative;}
.absolute {position: absolute;}
.fixed {position: fixed;}
.l-0{left:0;}
.l-5prec{left:5%;}
.r-30{right:30px}
.-t-25{top:-25px;}
.t-0{top:0;}
.t-30{top:30px}
.t-60{top:60px;}
.t-120{top:120px;}
.t-5prec{top:5%;}

.h-28{height:28px;}
.h-36{height:36px;}
.h-48{height:48px;}
.h-350{height:350px;}
.h-450{height:450px;} 
.h-550{height:550px;}
.h-700{height:700px;} 
.h-800{height:800px;} 
.h-min-450{min-height: 450px;}
.h-min-700{min-height: 700px;}
.h-min-800{min-height: 800px;}

.w-auto{width: auto;}
.w-40{width:40px;}
.w-48{width:48px;}
.w-150{width:150px;}
.w-100vw {width: 100vw;}
.w-100prec {width: 100%;}
.w-90prec {width: 90%;}

.w-50prec{width: 50%;}
.w-40prec{width: 40%;}

.l-calc{left: calc((100vw - 1440px)/2 - (((100vw - 1440px)/2) * 2) );}

.h-100vh {height: 100vh;}
.h-100prec {height:100%;}
.h-90prec {height:90%;}
.h-50prec {height:50%;}
.h-80vh{height:80vh};
.px-15{padding-right: 15px; padding-left:15px;}
.mx-45{margin-right: 45px; margin-left: 45px;}
.mx-15{margin-right: 15px; margin-left: 15px;}
.mx-10{margin-right: 10px; margin-left: 10px;} 
.mx-5{margin-right: 5px; margin-left: 5px;} 
.my-auto {margin-top: auto; margin-bottom: auto;}
.my-30{margin-top:30px; margin-bottom: 30px;}
.my-15{margin-top:15px; margin-bottom: 15px;}
.my-10{margin-top:10px; margin-bottom: 10px;}
.my-5{margin-top:5px; margin-bottom: 5px;}
.mt-0{margin-top:0}
.mt-15{margin-top:15px}
.mt-30{margin-top:30px}
.mt-100{margin-top: 100px;}
.mt-200{margin-top: 200px;}
.mr-auto{margin-right:auto;}
.ml-20{margin-left:20px;}

.p-20{padding:20px;}
.p-30{padding: 30px}

.overflow-hidden{overflow: hidden;}

.bg-purple-tr50{background-color: $first-color-transparent-50;}

.border-radius-10{border-radius: 10px;}
.border-radius-20{border-radius: 20px;}

.decoration-none{text-decoration: none;}
.bg-transparent{background-color:transparent;}
.color-black-90{color: $text-color;}
.color-square-1{background-color: $square-color-1;}
.color-square-2{background-color: $square-color-2;}
.color-shade-square-1{background-color: $square-shade-color-1;}
.color-shade-square-2{background-color: $square-shade-color-2;}
.color-shade-square-3{background-color: $square-shade-color-3;}

.color-fog{background-color:$fog-color}
.color-fog-bg{background-color:$bg-fog-color}
.pointer {cursor: pointer;}
.text-sm{font-size: 1.0rem;}
.text-base{font-size: 1.2rem;}
.text-lg{font-size: 2.5rem;}
.text-xl{font-size: 4.5rem;}
.text-xxl{font-size: 5.5rem;}
.text-center{text-align: center;}
.text-right{text-align:right;}

.border-shadow{box-shadow: -1px 0px 5px -1px rgba(0,0,0,0.75);
    -webkit-box-shadow: -1px 0px 5px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 0px 5px -1px rgba(0,0,0,0.75);}

.border-none{border: none;}

.card-left{
    padding: 30px;
    width: 90%;
}
.card-right{
    width: 100%;
    padding: 30px;
}

.z-index-10{z-index: 10;}
.z-index-20{z-index: 20;}
.z-index-30{z-index: 30;}
.z-index-40{z-index: 40;}
.z-index-50{z-index: 50;}

.transition-03{transition: .3s;}

.contact-form-bg{
    background-color: $contact-form-shade;
    height:550px;
}

.card-image{
    
    & > .gatsby-image-wrapper{
        min-height: 510px;
        max-height: 510px;
        height:510px;
    }
}
.offer-image{
    & > .gatsby-image-wrapper{
        min-height: 510px;
        max-height: 510px;
        height:510px;
        min-width: 100%;
    }
}

.bg-first-card{
    &::before{
        right:0px;
        z-index:0;
        @extend .color-shade-square-1;
        content:"";
        position: absolute;
        width: 100vw;
        height: 400px;
    }
}
.bg-second-card{
    &::before{
        top:-310px;
        left:-30px;
        z-index:0;
        @extend .color-shade-square-2;
        content:"";
        position: absolute;
        width: 100vw;
        height: 400px;
    }
}
.bg-third-card{

    &::before{
        right:0px;
        z-index:0;
        @extend .color-shade-square-3;
        content:"";
        position: absolute;
        width: 100vw;
        height: 400px;
    }
}

#background-image {
    position: fixed;
}

.nav-bar{
    top:60px;
}

.options{
    display: flex;
}

.nav-link-hover{
    transition: 0.2s;
    &:hover {
       color:$first-color;
    }
}

.home-text-wrapper{
    width:800px;
}

.container-1440{
    min-width: 1350px;
    width:1440px;
    margin-right: 45px;
    margin-left: 45px;
}
.menu-button {
    display: none;
  & > div:nth-child(1) {
      background-color: $text-color;
      top: 0;
  }

  & > div:nth-child(2) {
      background-color: $text-color;
      top: 15px;
  }

  & > div:nth-child(3) {
      background-color: $text-color;
      top: 30px;
  }

  &.hover > div:nth-child(1) {
      transform: translateY(-3px);
      filter: brightness(80%);
  }

  &.hover > div:nth-child(2) {
      filter: brightness(80%);
  }

  &.hover > div:nth-child(3) {
      transform: translateY(3px);
      filter: brightness(80%);
  }

  &.open > div:nth-child(1) {
      background-color: $background-color;
      transform: rotate(45deg) translateY(14.5px) translateX(7px);
  }

  &.open > div:nth-child(2) {
      background-color: transparent;
      transform: translateX(-50px);
  }

  &.open > div:nth-child(3) {
      background-color: $background-color;
      transform: rotate(-45deg) translateY(-14.5px) translateX(7px);
  }
}
.menu-element {
    position: absolute;
    width: 40px;
    height: 5px;
    left: 0;
    background-color: $text-color;
    border-radius: 10px;
    transition: 0.3s;
}
.nav-links{
    margin-left:20px;
    display: flex;
    flex-direction: row;
}
.nav-link {
    font-size: 18px;
    color: $text-color;
}
.content-container{
    top:60px;
}

input[type=text],textarea {
    border:none;
    border-bottom: 2px solid $text-color;
    height: 10px;
    padding: 20px 0 20px 0;
    box-sizing: border-box;
    background-color: transparent;
    font-size: 1rem;
    font-weight: 900;
    color: $text-color;

    &:focus, &:active {
        outline: none;
    }
}

::placeholder, textarea::placeholder {
    font-family: Tahoma, sans-serif;
    color: $text-color;
    opacity: 1; /* Firefox */
    font-size: 0.9rem;
    font-weight: 700;
  }
  textarea::placeholder{
    font-family: Tahoma, sans-serif;
    color: $text-color;
    opacity: 1; /* Firefox */
    font-size: 0.9rem;
    font-weight: 700;
}
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: $first-color;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
   color:$first-color;
  }
textarea{
    height:100px;
    max-width:100%;
    min-width:100%;
    max-height:200px;
    min-height: 50px;
    font-family: Arial;
    font-weight: 900;
}
.btn-hover{
    &:hover {
        background-color:$first-color;
    }
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px #e6e6ff inset !important;
}
input:-webkit-autofill {
    -webkit-text-fill-color: $text-color !important;
}


.portfolio-container{
    padding: 30px;
    width:1140px;
    margin-bottom:120px;
    & div {
        overflow: hidden;
    }
    & img {
        width: 100%;
        height:100%;
        object-fit: cover;
    }
}
.my-masonry-grid {
    display: -webkit-box; /* Not needed if autoprefixing */
    display: -ms-flexbox; /* Not needed if autoprefixing */
    display: flex;
    margin-left: -30px; /* gutter size offset */
    width: auto;
  }
  .my-masonry-grid_column {
    padding-left: 30px; /* gutter size */
    background-clip: padding-box;
  }
   
  /* Style your items */
  .my-masonry-grid_column > div { /* change div to reference your elements you put in <Masonry> */
    margin-bottom: 30px;
  }

.contact-grid{
    margin-top: 30px;
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: 50% 50%;
}
.offer-grid{
    display: grid;
    grid-template-columns: 50% 50%;
}
.contact-form{
    padding: 30px;
}
.card-grid{
    display: grid;
    grid-template-columns: 50% 50%;
}
.card-grid{
    margin-top: 15px;
    display: grid;
    grid-template-columns: 50% 50%;
}
.offer-container{
    padding-right:15px;
    padding-left:15px;
}


.footer-marg{
    margin-top:200px;
}

@media only screen and (max-width:1530px){
    .l-calc{left: -60px;}
}
@media only screen and (max-width:1440px){
    .container-1440{
        min-width: unset;
    }
}
@media only screen and (max-width: 1300px)
{
    .portfolio-container{
        margin: 0 0 100px 0;
        padding: 0;
        width:100%;
        padding-top: 30px;
    }
}
@media only screen and (max-width: 1200px){
    .offer-grid{
        display: grid;
        grid-template-columns: 100%;
    }
    .offer-image{
        margin-top: 45px;
    }
}
@media only screen and (max-width:900px){
    .logo{
        top: 0px;
        left: -15px;
        position: fixed;
        & > img {
            padding-left:0px;
        }
    }
    
    .decoration-image{
        display: none;
    }
    .card-left{
        width: unset;
        min-width: unset;
        padding:15px;
    }
    .card-right{
        width: unset;
        padding: 15px;
    }
    .bg-first-card{
        &::before{
            display: none;
        }
    }
    .bg-second-card{
        &::before{
            display: none;
        }
    }
    .bg-third-card{
        &::before{
            display: none;
        }
    }
    .offer-image{
        & > .gatsby-image-wrapper{
            min-height: unset;
            max-height: unset;
            height:unset;
            min-width: 100%;
        }
    }
    .text-lg{
        font-size: 1.8rem;
    }

    .contact-form-bg{
        background-color: $contact-form-shade;
        height:690px;
    }
    .contact-grid{
        margin-top: 100px;
        display: grid;
        grid-template-columns: 100%;
        margin-bottom: 0px;
    }
    .card-grid{
        display: grid;
        margin-top:45px;
        grid-template-columns: 100%;
    }
    footer{
        max-width:90%;
    }
    .my-masonry-grid {
        margin-left: -0px; /* gutter size offset */
        margin-right: 10px;
      }
      .my-masonry-grid_column {
        padding-left: 10px; /* gutter size */
        & > .gatsby-image-wrapper {
            margin-bottom: 10px;
        }
      }
    .home-text-wrapper{width:450px}
    .text-base{font-size: 1rem;}
    .text-xl{font-size: 3.5rem;}
    .menu-button {
        top: 30px;
        right: 30px;
        display: flex;
    }
    .options{
        display: none;
    }
    .options.active{
        opacity: 0;
        padding-left: 0px;
        left: 0px;
        width: 100vw;
        z-index: 40;
        display: flex;
        position: fixed;
        bottom: 30px;
        justify-content: center;
        align-items: center;
        animation: fadeIn 1s ease-out;
        animation-fill-mode: forwards;
        animation-delay: .5s;
    }
    .nav-bar{
        top:15px;
    }
    .nav-links.active{
        position: fixed;
        z-index:150;
        margin-left: 0px;
        z-index: 30;
        top: -100vh;
        left: 0px;
        position: fixed;
        flex-direction: column;
        width: 100vw;
        height: 100vh;
        justify-content: center;
        align-items: center;
        background-color: $first-color;
        animation: slideInMenu .2s ease-out;
        animation-fill-mode: forwards;
        & :nth-child(1){
            animation-delay: 0;
        }
        & :nth-child(2){
            animation-delay: .1s;
        }
        & :nth-child(3){
            animation-delay: .2s;
        }
        & :nth-child(4){
            animation-delay: .3s;
        }
    }
    .nav-link.active{
        opacity: 0;
        z-index: 50;
        display: flex;
        color:$background-color;
        font-size: 3.5rem;
        margin-bottom: 15px;
        margin-top: 15px;

        animation: fadeIn 1s ease-out;
        animation-fill-mode: forwards;
    }
    .nav-link{
        display: none;
    }

    .container-1440{
        max-width: 100%
    }
}
@media only screen and (max-width:540px){
    
    .card-image{
    
        & > .gatsby-image-wrapper{
            min-height: 300px;
            max-height: 300px;
            height:300px;
        }
    }
    .nav-link.active{
        font-size: 2rem;
        margin-bottom: 5px;
        margin-top: 5px;
    }

    .nav-link{
        display: none;
    }
    .l-calc{left: -30px;}
    .offer-container{
        margin-top: 70px;
        padding-right:0;
        padding-left:0;
    }
    .footer-marg{
        margin-top:40px;
    }
    .contact-form{
        padding: 30px 0 30px 0;
    }
    .portfolio-container{
        margin: 0;
    }
    .mobile-off{
        display: none;
    }
    .home-text-wrapper{
        width:100%;
        text-align: center;
    }
    .container-1440{
        margin-right: 15px;
        margin-left: 15px;
    }
    .content-container{
        top:0px;
    }
    .text-xl{
        font-size: 2.5rem;
    }
    .name{
        margin-bottom: 0px;
    }
    .menu-button {
        top: 15px;
        right: 15px;
    }
}

@keyframes slideInMenu {
    0%   {transform: translateY(0);}
    100% {transform: translateY(100%);}
  }
  @keyframes slideOutMenu {
    0%   {transform: translateX(-100%);}
    100% {transform: translateX(0);}
  }
  @keyframes fadeIn{
    0%   {transform: translateY(-40px); opacity: 0;}
    30%   {transform: translateY(-40px); opacity: 0;}
    100% {transform: translateY(0px); opacity: 1;}
  }


